<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>378664691915-blv8952kmnid5nkfbjg6mcf9qu7fobvj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.378664691915-blv8952kmnid5nkfbjg6mcf9qu7fobvj</string>
	<key>API_KEY</key>
	<string>AIzaSyDw-Afr6I9cyN465rzrKQmk_f2B0unj-bs</string>
	<key>GCM_SENDER_ID</key>
	<string>378664691915</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>edu.niu.cs.z1888637.ShoppingAppV2-0</string>
	<key>PROJECT_ID</key>
	<string>shopping-app-9badb</string>
	<key>STORAGE_BUCKET</key>
	<string>shopping-app-9badb.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:378664691915:ios:2bebd69ee89233ba69934e</string>
</dict>
</plist>